<div class="container">
  <div class="row">
    <div class="col-7">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <input type="hidden" [(ngModel)]="hero.id" formControlName="id">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label"><span class="text-danger">*</span> Nome:</label>
          <input type="text" formControlName="name" class="form-control" id="recipient-name" [(ngModel)]="hero.name">
        </div>
        <div class="form-group">
          <label for="recipient-description" class="col-form-label"><span class="text-danger">*</span>
            Descrição:</label>
          <ckeditor [(ngModel)]="hero.description" formControlName="description" id="recipient-description">
          </ckeditor>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">Atualizar</button>
        </div>
      </form>
    </div>
    <div class="col-5">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmitImg()">
        <div class="form-group">
          <label for="recipient-description" class="col-form-label"><span class="text-danger">*</span>
            Imagem:</label>
          <div class="input-group mb-3">
            <input type="hidden" [(ngModel)]="hero.id" formControlName="id">

            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="inputGroupFile01"
                     aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Imagem [300x300] até 1MB </label>
            </div>
          </div>
          <img [src]="imageSrc || 'http://placehold.it/180'" class="img-fluid" alt="your image"/>
          <div class="modal-footer">
            <button type="submit" class="btn btn-warning">Atualizar</button>
          </div>
        </div>
      </form>

    </div>


  </div>


</div>

