<div class="card bg-dark text-white">
  <img src="assets/img/ultron.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
<div class="container">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">Novo Heroi</button>
  <div class="row row-cols-1 row-cols-md-2">
    <div *ngFor="let heroes of data" class="col mb-4">
      <div class="card">
        <img src="{{urlApi}}/{{heroes.id}}/{{heroes.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{heroes.name}}</h5>
          <p class="card-text">{{heroes.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Heroi:</label>
            <input type="text" formControlName="name" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Imagem</label>
            <input type="file" (change)="onFileChange($event)" class="form-control">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Descrição:</label>
            <textarea class="form-control" formControlName="description" id="message-text"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Send message</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
