<footer class="footer-area footer--light">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <img src="assets/img/jupiter.png" width="250" height="80" alt="" class="img-fluid">
              <p>Fundada em 2001, a Jupiter é uma empresa de serviços de TI com expertise em apoiar agências governamentais, organizações do sector público e empresas privadas a organizar, controlar .</p>
            </div>
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <h4 class="footer-widget-title">Categoria Popular</h4>
              <ul>
                <li>
                  <a href="#"> Wordpress </a>
                </li>
                <li>
                  <a href="#"> Plugins </a>
                </li>
                <li>
                  <a href="#"> Modelo Joomla </a>
                </li>
                <li>
                  <a href="#"> Modelo de administrador </a>
                </li>
                <li>
                  <a href="#"> Modelo HTML </a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title">Nossa empresa</h4>
              <ul>
                <li>
                  <a href="#"> Sobre nós </a>
                </li>
                <li>
                  <a href="#"> Como funciona </a>
                </li>
                <li>
                  <a href="#"> Afiliados </a>
                </li>
                <li>
                  <a href="#"> Testemunhos </a>
                </li>
                <li>
                  <a href="#"> Entre em contato </a>
                </li>
                <li>
                  <a href="#"> Plan & amp; Preços </a>
                </li>
                <li>
                  <a href="#"> Blog </a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              <h4 class="footer-widget-title">Ajuda Suporte</h4>
              <ul>
                <li>
                  <a href="#"> Fórum de Suporte </a>
                </li>
                <li>
                  <a href="#"> Termos e amp; Condições </a>
                </li>
                <li>
                  <a href="#"> Política de Suporte </a>
                </li>
                <li>
                  <a href="#"> Política de Reembolso </a>
                </li>
                <li>
                  <a href="#"> FAQs </a>
                </li>
                <li>
                  <a href="#"> Perguntas frequentes dos compradores </a>
                </li>
                <li>
                  <a href="#"> Sellers Faq </a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- Ends: .col-lg-3 -->

      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p> © 2020
              <a href="#"> Jupiter DigiPro </a>. Todos os direitos reservados. Criado por
              <a href="#"> Orlando Dos Santos Jawara </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
