<ngx-spinner
  size="large"
  type="ball-clip-rotate"
  color="#c21e36"
  bdColor="rgba(0, 0, 0, 0.3)">
  <img src='https://www.jupiter.co.ao/sites/default/files/logo_3.png'/>
</ngx-spinner>

<!-- Header -->
<header class="bg-jupiter py-5 mt-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Preços</h1>
        <p class="lead mb-5 text-white-50">Crie rapidamente uma tabela de preços eficaz para seus clientes em potencial com este exemplo de Bootstrap. É construído com componentes e utilitários padrão do Bootstrap com pouca personalização.</p>
      </div>
    </div>
  </div>
</header>


<div class="container ">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Livre</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">0Kz<small class="text-muted">/ Mês</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 usuários incluídos</li>
          <li>2 GB de armazenamento</li>
          <li>Suporte por email</li>
          <li>Acesso ao centro de ajuda</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-danger">Cadastre-se gratuitamente</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">700KZ <small class="text-muted">/ Mês</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 usuários incluídos</li>
          <li>10 GB de armazenamento</li>
          <li>Suporte prioritário por e-mail</li>
          <li>Acesso ao centro de ajuda</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block bg-jupiter text-white">Iniciar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">1.500KZ <small class="text-muted">/ Mês</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 usuários incluídos</li>
          <li>15 GB de armazenamento</li>
          <li>Suporte por telefone e e-mail</li>
          <li>Acesso ao centro de ajuda</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block bg-jupiter text-white">Contate-Nos</button>
      </div>
    </div>
  </div>

</div>
