<ngx-spinner
  size="large"
  type="ball-clip-rotate"
  color="#c21e36"
  bdColor="rgba(0, 0, 0, 0.3)">
  <img src='https://www.jupiter.co.ao/sites/default/files/logo_3.png'/>
</ngx-spinner>

<!-- Header -->
<header class="bg-jupiter py-5 mt-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Repositório Jupiter</h1>
        <p class="lead mb-5 text-white-50">Usa um dicionário de 200 palavras em Latim, combinado com uma dúzia de modelos de frases, para gerar Lorem Ipsum que pareçam razoáveis. Desta forma, o Lorem Ipsum gerado é sempre livre de repetição, ou de injecção humorística, etc.</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container" style="">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>O que nós fazemos</h2>
      <hr>
      <p>É um facto estabelecido de que um leitor é distraído pelo conteúdo legível de uma página quando analisa a sua mancha gráfica. Logo, o uso de Lorem Ipsum leva a uma distribuição mais ou menos normal de letras, ao contrário do uso de "Conteúdo aqui, conteúdo aqui", tornando-o texto legível. Muitas ferramentas de publicação electrónica e editores de páginas web usam actualmente o Lorem Ipsum como o modelo de texto usado por omissão, e uma pesquisa por "lorem ipsum" irá encontrar muitos websites ainda na sua infância.</p>
      <p>Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que nem sequer parecem suficientemente credíveis. Se vai usar uma passagem do Lorem Ipsum, deve ter a certeza que não contém nada.</p>
      <a class="btn btn-primary btn-lg bg-jupiter" routerLink="/contato">Visita Guiada &raquo;</a>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contate-Nos</h2>
      <hr>
      <address>
        <strong>Entraremos em contato com voçe</strong>
        <br>Condominio Das Manguerinhas
        <br>Angola, Lunda
        <br>
      </address>
      <address>
        <abbr title="Phone">N:</abbr>
        (+244) 940-234-212
        <br>
        <abbr title="Email">E:</abbr>
        <a class="text-jupiter" href="mailto:#">orlando.santos@jupiter.co.ao</a>
      </address>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/site/45259857_986370824899877_4448142309564874752_o.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Mohamed Jawara</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary bg-jupiter">Descubra mais!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/site/14435415_585148611688769_6977694256728427465_o.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Orlando Jawara</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary bg-jupiter">Descubra mais!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/site/46887322_1000507736819519_5091065790988288000_o.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Orlando Santos</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary bg-jupiter">Descubra mais!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
